# Production Database Settings
POSTGRES_DB=TestPlatformDb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ChangeThisSuperSecretPassword2026!
POSTGRES_PORT=5433

# Web API Settings
WEBAPI_PORT=2011
ASPNETCORE_ENVIRONMENT=Production

# JWT Authentication Security Settings
JWT_KEY=SuperSecretKeyForTestPlatformAppWithAtLeast256BitsLongKeySecurity2026!
JWT_ISSUER=TestPlatformIssuer
JWT_AUDIENCE=TestPlatformAudience
JWT_EXPIRE_MINUTES=1440
